<h5 class="element-header">Transaction Note details</h5>

<div class="element-box">
  <div class="details-wrapper">
    <p><b class="label">ID</b> {{transactionNote.id}}</p>
    <!--<h4>-->
      <!--{{user.first_name}} {{user.last_name}}-->
    <!--</h4>-->

    <!--<div class="activity">-->
      <!--<span *ngIf="user.last_activity_at">last activity - {{user.last_activity_at | date: 'yyyy-MM-dd HH:mm'}}</span>-->
    <!--</div>-->

    <!--<p><b class="label">Login:</b> {{user.login}}</p>-->
    <!--<p><b class="label">Email:</b> {{user.email}}</p>-->
    <!--<p><b class="label">Created:</b> {{user.created_at | date: 'yyyy-MM-dd HH:mm'}}</p>-->
    <!--<p><b class="label">Enabled:</b> {{user.enabled ? 'Yes' : 'No'}}</p>-->
    <!--<p><b class="label">Role:</b> {{user.role}}</p>-->
  </div>
</div>
