.search-wrapper {
    margin-bottom: 15px;
  }
  
  .search-titles {
    text-align: right;
    font-weight: 700;
    padding-top: 8px;
  }
  
  .row:first-child {
    margin-top: 10px;
  }
  
  .terminal-item-container {
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .category-filler {
    height: 20px;
  }
  
  .terminal-category{
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .terminal-item {
    padding: 3px;
  }

  .transaction-type{
    margin-bottom: 10px;
  }