<div class="transaction-details">

    <h5 class="element-header" *ngIf="config.showHeader">Processed Transaction #{{transaction?.id}}</h5>

    <div class="section additional-transactions ">

        <div class="element-box-header">
            <div class="title">
                <i class="fa fa-file"></i>
                Processed Transactions
            </div>
        </div>
        <div class="details-wrapper">
            <app-additional-processed-transactions [processedTransactions]="additionalProcessedTransactions"></app-additional-processed-transactions>
        </div>
    </div>

    <div class="section" *ngIf="config.showDetails">
      <app-accordion>
        <div accordion-el="title">
          <i class="fa fa-th"></i>
          Details
        </div>
        <div accordion-el="content">
          <app-processed-transaction-full-details [processedTransaction]="processedTransaction"></app-processed-transaction-full-details>
        </div>
      </app-accordion>
    </div>

</div>
