<div class="table-responsive">
    <div class="dataTables_wrapper">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-lightfont dataTable" role="grid">
                    <thead>
                        <tr role="row">
                          <th scope="col">#</th>
                          <th scope="col">Import date</th>
                          <th scope="col">Original transaction date</th>
                          <th scope="col">Merchant</th>
                          <th scope="col">Item type</th>
                          <th scope="col">Reason Code</th>
                          <th scope="col">Reason Description</th>
                          <th scope="col">ARN</th>
                          <th scope="col">Processed Transaction</th>
                          <th scope="col">Payment transaction</th>
                          <th scope="col">Card number</th>
                          <th scope="col">Original type</th>
                          <th scope="col">Auth code</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Merchant Transaction ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chargeback of chargebacks; let ind = index;" role="row" [ngClass]="{odd: ind % 2 === 0, even: ind % 2 !== 0}">
                          <td scope="row">{{chargeback.id}}</td>
                          <td class='date' [routerLink]="['/panel/chargebacks', chargeback.id]">{{chargeback.created_at | date: 'yyyy-MM-dd HH:mm'}}</td>
                          <td class='date' [routerLink]="['/panel/chargebacks', chargeback.id]">{{chargeback.original_transaction_date | date: 'yyyy-MM-dd HH:mm'}}</td>
                          <td class='date' [routerLink]="['/panel/merchants', chargeback.merchant_id]">{{chargeback.merchant_name}}</td>
                          <td>{{chargeback.item_type}}</td>
                          <td>{{chargeback.rc_code}}</td>
                          <td>{{chargeback.rc_description}}</td>
                          <td>{{chargeback.cnn}}</td>
                          <td>{{chargeback.processed_transaction_id}}</td>
                          <td>{{chargeback.unique_tran_id}}</td>
                          <td>{{chargeback.card_number}}</td>
                          <td>{{chargeback.original_type}}</td>
                          <td>{{chargeback.auth_code}}</td>
                          <td>{{ chargeback.amount | currency:chargeback.currency:'' }} {{ chargeback.currency }}</td>
                          <td>{{chargeback.merchant_transaction_reference}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
