<table class="table table-striped table-lightfont dataTable" role="grid">
    <tbody>
        <tr class="even">
            <td>First Name</td>
            <td>{{ shippingAddress?.first_name }}</td>
        </tr>
        <tr class="odd">
            <td>Last Name</td>
            <td>{{ shippingAddress?.last_name }}</td>
        </tr>
        <tr class="even">
            <td>Address 1</td>
            <td>{{ shippingAddress?.address1 }}</td>
        </tr>
        <tr class="odd">
          <td>Address 2</td>
            <td>{{ shippingAddress?.address2 }}</td>
        </tr>
        <tr class="even">
          <td>Zip Code</td>
          <td>{{ shippingAddress?.zip_code }}</td>
        </tr>
        <tr class="odd">
          <td>City</td>
          <td>{{ shippingAddress?.city }}</td>
        </tr>
        <tr class="even">
          <td>State</td>
          <td>{{ shippingAddress?.state }}</td>
        </tr>
        <tr class="odd">
          <td>Country</td>
          <td>{{ shippingAddress?.country }}</td>
        </tr>
        <tr class="even">
          <td>Type</td>
          <td>{{ shippingAddress?.type }}</td>
        </tr>
        <tr class="odd">
            <td>Created At</td>
            <td>{{ shippingAddress?.created_at }}</td>
        </tr>
        <tr class="even">
            <td>Updated At</td>
            <td>{{ shippingAddress?.updated_at }}</td>
        </tr>
    </tbody>
</table>
