<div class="section create-transaction-note" [ngClass]="{open: expanded}">
  <div class="element-box-header" (click)="toggle()">
    <div class="title">
      Create Note
    </div>
    <i class="fa fa-plus"></i>
  </div>
  <div class="details-wrapper">
    <form [formGroup]="formGroup" (submit)="formSubmit()">
      <div class="form-group row"><label class="col-form-label col-sm-2 text-right font-weight-bold" for=""> Priority</label>
        <div class="col-sm-3">
          <select class="form-control" formControlName="priority">
            <option value="info">Info</option>
            <option value="normal">Normal</option>
            <option value="urgent">Urgent</option>
          </select>
          <div class="help-block form-text with-errors form-control-feedback" *ngIf="controlHasErrors('priority')">
            {{controlValidateMessage('priority')}}
          </div>
        </div>
      </div>
      <div class="form-group row"><label class="col-form-label col-sm-2 text-right font-weight-bold" for=""> Message</label>
        <div class="col-sm-5">
          <textarea class="form-control" rows="3" formControlName="message"></textarea>
          <div class="help-block form-text with-errors form-control-feedback" *ngIf="controlHasErrors('message')">
            {{controlValidateMessage('message')}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-5 offset-sm-2">
          <button type="submit" class="mr-2 mb-2 btn btn-success btn-lg">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>