<div class="table-responsive">
  <div class="dataTables_wrapper">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-lightfont dataTable" role="grid">
          <thead>
          <tr role="row">
            <th scope="col">Count</th>
            <th scope="col">Status</th>
            <th scope="col">Error class</th>
            <th scope="col">Error message</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reason of declinedReasonsList; let ind = index;" role="row" [ngClass]="{odd: ind % 2 === 0, even: ind % 2 !== 0}">
            <td>{{reason.count}}</td>
            <td [ngSwitch]="reason.status">
              <span *ngSwitchCase="'approved'" class="badge badge-success">Approved</span>
              <span *ngSwitchCase="'pending-async'" class="badge badge-special">Pending async</span>
              <span *ngSwitchCase="'in_progress'" class="badge badge-special">In Progress</span>
              <span *ngSwitchCase="'declined'" class="badge badge-danger">Declined</span>
              <span *ngSwitchCase="'error'" class="badge badge-danger">Error</span>
              <span *ngSwitchCase="'voided'" class="badge badge-warning">Voided</span>
              <span *ngSwitchCase="'refunded'" class="badge badge-info">Refunded</span>
              <span *ngSwitchDefault class="badge">Unknown</span>
            </td>
            <td>{{reason.error_class}}</td>
            <td>{{reason.error_message}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
