<table class="table table-striped table-lightfont dataTable" role="grid">
    <tbody>
    <tr class="even">
      <td>First Name</td>
      <td>{{ billingAddress?.first_name }}</td>
    </tr>
    <tr class="odd">
      <td>Last Name</td>
      <td>{{ billingAddress?.last_name }}</td>
    </tr>
    <tr class="even">
      <td>Address 1</td>
      <td>{{ billingAddress?.address1 }}</td>
    </tr>
    <tr class="odd">
      <td>Address 2</td>
      <td>{{ billingAddress?.address2 }}</td>
    </tr>
    <tr class="even">
      <td>Zip Code</td>
      <td>{{ billingAddress?.zip_code }}</td>
    </tr>
    <tr class="odd">
      <td>City</td>
      <td>{{ billingAddress?.city }}</td>
    </tr>
    <tr class="even">
      <td>State</td>
      <td>{{ billingAddress?.state }}</td>
    </tr>
    <tr class="odd">
      <td>Country</td>
      <td>{{ billingAddress?.country }}</td>
    </tr>
    <tr class="even">
      <td>Type</td>
      <td>{{ billingAddress?.type }}</td>
    </tr>
    <tr class="odd">
      <td>Created At</td>
      <td>{{ billingAddress?.created_at }}</td>
    </tr>
    <tr class="even">
      <td>Updated At</td>
      <td>{{ billingAddress?.updated_at }}</td>
    </tr>
    </tbody>
</table>
