<h5 class="element-header">Edit Terminal</h5>
<div class="row bottom-margin">
  <div class="col-sm-8">
    <div class="element-box">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <form [formGroup]="formGroup" (ngSubmit)="submit()">
            <legend><span>Terminal Configurations</span></legend>
            <div class="form-group" [ngClass]="errorClasses('name')">
              <div class="input-group-prepend">
                <label>Name</label>
              </div>
              <input type="text" class="form-control" formControlName="name">
              <div class="help-block form-text with-errors form-control-feedback" *ngIf="controlHasErrors('name')">
                {{controlValidateMessage('name')}}
              </div>
            </div>

            <div class="form-group" [ngClass]="errorClasses('reseller_id')">
              <div class="input-group-prepend">
                <label>Reseller</label>
              </div>
              <select class="custom-select form-control" formControlName="reseller_id">
                <option value="">Please Select...</option>
                <option [value]="reseller.id" *ngFor="let reseller of resellers">{{ reseller.name }}</option>
                <div class="help-block form-text with-errors form-control-feedback"
                     *ngIf="controlHasErrors('reseller_id')">
                  {{controlValidateMessage('reseller_id')}}
                </div>
              </select>
            </div>

            <div class="form-group" [ngClass]="errorClasses('merchant_id')">
              <div class="input-group-prepend">
                <label>Merchant</label>
              </div>
              <select class="custom-select form-control" formControlName="merchant_id">
                <option value="">Please Select...</option>
                <option [value]="merchant.id" *ngFor="let merchant of merchants">{{ merchant.name }}</option>
                <div class="help-block form-text with-errors form-control-feedback"
                     *ngIf="controlHasErrors('merchant_id')">
                  {{controlValidateMessage('merchant_id')}}
                </div>
              </select>
            </div>

            <div class="form-group" [ngClass]="errorClasses('currency')">
              <div class="input-group-prepend">
                <label>Currency</label>
              </div>
              <select class="custom-select form-control" formControlName="currency">
                <option value="">Please Select...</option>
                <option [value]="currency.currency" *ngFor="let currency of currencies">{{ currency.currency }} -
                  {{ currency.country }}
                </option>
                <div class="help-block form-text with-errors form-control-feedback"
                     *ngIf="controlHasErrors('currency')">
                  {{controlValidateMessage('currency')}}
                </div>
              </select>
            </div>

            <div class="form-group" [ngClass]="errorClasses('traffic_shaper_class')">
              <div class="input-group-prepend">
                <label>Traffic Shaper Class</label>
              </div>
              <select class="custom-select form-control" formControlName="traffic_shaper_class">
                <option value="">Please Select...</option>
                <option [value]="shaper.shaper" *ngFor="let shaper of shapers">{{ shaper.shaper }}
                </option>
                <div class="help-block form-text with-errors form-control-feedback"
                     *ngIf="controlHasErrors('traffic_shaper_class')">
                  {{controlValidateMessage('traffic_shaper_class')}}
                </div>
              </select>
            </div>

            <div class="form-group" [ngClass]="errorClasses('mode')">
              <div class="input-group-prepend">
                <label>Mode</label>
              </div>
              <select class="custom-select form-control" formControlName="mode">
                <option value="">Please Select...</option>
                <option [value]="modeType" *ngFor="let modeType of modeTypes">{{ TerminalModeType2LabelMapping[modeType]
                  }}
                </option>
                <div class="help-block form-text with-errors form-control-feedback" *ngIf="controlHasErrors('mode')">
                  {{controlValidateMessage('mode')}}
                </div>
              </select>
            </div>

            <div class="form-group" [ngClass]="errorClasses('descriptor_type')">
              <div class="input-group-prepend">
                <label>Descriptor Type</label>
              </div>
              <select class="custom-select form-control" formControlName="descriptor_type">
                <option value="">Please Select...</option>
                <option [value]="descriptor_type.descriptor_type" *ngFor="let descriptor_type of descriptor_types">{{
                  descriptor_type.descriptor_type }}
                </option>
                <div class="help-block form-text with-errors form-control-feedback"
                     *ngIf="controlHasErrors('descriptor_type')">
                  {{controlValidateMessage('descriptor_type')}}
                </div>
              </select>
            </div>

            <div class="form-group" [ngClass]="errorClasses('expires_at')">
              <div class="input-group-prepend">
                <label>Expires at</label>
              </div>
              <!--<input type="text" class="form-control" formControlName="expires_at">-->
              <app-date-picker placeholder="Expires at" formControlName="expires_at"></app-date-picker>
              <div class="help-block form-text with-errors form-control-feedback"
                   *ngIf="controlHasErrors('expires_at')">
                {{controlValidateMessage('expires_at')}}
              </div>
            </div>

            <legend><span>Transaction types</span></legend>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_authorize').value, 'btn-light': !formGroup.get('tnx_authorize').value}"
                          (click)="selectTnx('tnx_authorize')">
                    <i class="fa fa-check mr-2" *ngIf="formGroup.get('tnx_authorize').value"></i>Authorize
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_authorize3d').value, 'btn-light': !formGroup.get('tnx_authorize3d').value}"
                          (click)="selectTnx('tnx_authorize3d')"><i class="fa fa-check mr-2"
                                                                    *ngIf="formGroup.get('tnx_authorize3d').value"></i>Authorize3D
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_sale').value, 'btn-light': !formGroup.get('tnx_sale').value}"
                          (click)="selectTnx('tnx_sale')"><i class="fa fa-check mr-2"
                                                             *ngIf="formGroup.get('tnx_sale').value"></i>Sale
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_sale3d').value, 'btn-light': !formGroup.get('tnx_sale3d').value}"
                          (click)="selectTnx('tnx_sale3d')"><i class="fa fa-check mr-2"
                                                               *ngIf="formGroup.get('tnx_sale3d').value"></i>Sale3D
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_capture').value, 'btn-light': !formGroup.get('tnx_capture').value}"
                          (click)="selectTnx('tnx_capture')"><i class="fa fa-check mr-2"
                                                                *ngIf="formGroup.get('tnx_capture').value"></i>Capture
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_refund').value, 'btn-light': !formGroup.get('tnx_refund').value}"
                          (click)="selectTnx('tnx_refund')"><i class="fa fa-check mr-2"
                                                               *ngIf="formGroup.get('tnx_refund').value"></i>Refund
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_void').value, 'btn-light': !formGroup.get('tnx_void').value}"
                          (click)="selectTnx('tnx_void')"><i class="fa fa-check mr-2"
                                                             *ngIf="formGroup.get('tnx_void').value"></i>Void
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_init_recurring_sale').value, 'btn-light': !formGroup.get('tnx_init_recurring_sale').value}"
                          (click)="selectTnx('tnx_init_recurring_sale')"><i class="fa fa-check mr-2"
                                                                            *ngIf="formGroup.get('tnx_init_recurring_sale').value"></i>Init
                    Recurring Sale
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_init_recurring_sale3d').value, 'btn-light': !formGroup.get('tnx_init_recurring_sale3d').value}"
                          (click)="selectTnx('tnx_init_recurring_sale3d')"><i class="fa fa-check mr-2"
                                                                            *ngIf="formGroup.get('tnx_init_recurring_sale3d').value"></i>Init
                    Init Recurring Sale 3D
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_credit').value, 'btn-light': !formGroup.get('tnx_credit').value}"
                          (click)="selectTnx('tnx_credit')"><i class="fa fa-check mr-2"
                                                             *ngIf="formGroup.get('tnx_credit').value"></i>Credit
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_recurring_sale').value, 'btn-light': !formGroup.get('tnx_recurring_sale').value}"
                          (click)="selectTnx('tnx_recurring_sale')"><i class="fa fa-check mr-2"
                                                                       *ngIf="formGroup.get('tnx_recurring_sale').value"></i>Recurring
                    Sale
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('tnx_account_verification').value, 'btn-light': !formGroup.get('tnx_account_verification').value}"
                          (click)="selectTnx('tnx_account_verification')"><i class="fa fa-check mr-2"
                                                                             *ngIf="formGroup.get('tnx_account_verification').value"></i>Account
                    Verification
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="button" class="btn btn-block"
                          [ngClass]="{'btn-success': formGroup.get('enabled').value, 'btn-light': !formGroup.get('enabled').value}"
                          (click)="selectTnx('enabled')"><i class="fa fa-check mr-2"
                                                            *ngIf="formGroup.get('enabled').value"></i>Enabled
                  </button>
                </div>
              </div>
            </div>

            <div class="btn-row mt-4">
              <button class="btn btn-primary" type="submit">Update Terminal</button>
              <button class="btn btn-secondary" type="button" (click)="clear()">Clear</button>
            </div>

            <div class="error">
              <div *ngIf="valueExists" class="alert alert-danger">User with current name already exists!</div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="section-details">
      <app-accordion-group>
        <app-accordion [backgroundStyle]="'white'">
          <div accordion-el="title">
            <i class="fa fa-file-o"></i>
            Contract
          </div>
          <div accordion-el="content">
            <div class="form-row">
              <div class="form-group col-md-8">
                <select class="custom-select form-control" [(ngModel)]="contract">
                  <option value="">Please Select...</option>
                  <option [value]="ct.id" *ngFor="let ct of contracts">{{ ct.name }}</option>
                </select>
              </div>
              <div class="form-group col-md-4 mt-1">
                <button type="button" class="btn btn-success btn-block" (click)="addContract()">Add Contract</button>
              </div>
            </div>
            <div *ngIf="successMsg" class="alert alert-success" role="alert">
              {{successMsg}}
            </div>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
              {{errorMsg}}
            </div>
            <div class="form-group">
              <app-list-table [config]="{header: 'Contract', selector: 'name',  editable: true}" [list]="contractList"
                              (removeAction)="removeAction($event)"></app-list-table>
            </div>
          </div>
        </app-accordion>
        <app-accordion [backgroundStyle]="'white'">
          <div accordion-el="title">
            <i class="fa fa-envelope"></i>
            Notification URLs
          </div>
          <div accordion-el="content">
            <div class="mt-2">
              <a href="javascript:void(0)" (click)="createNotification(template)">Configure new Notification URL</a>
            </div>
            <div *ngIf="notificationUrlsList.length" class="notification-url-container mt-1">
              <div class="mt-2 container" *ngFor="let url of notificationUrlsList">
                <div class="row bg bg-light">
                  <div class="col-md-10 p-2 d-flex align-items-center border border-gray border-right-0">
                    <div>{{url.url_type}}</div>
                    <span
                      class="badge ml-2" [ngClass]="{'badge-danger':!url.enabled,'badge-success':url.enabled}"
                    >{{url.enabled ? 'Enabled' : 'Disabled'}}</span>
                  </div>
                  <div class="col-md-2 p-2 border border-gray d-flex align-items-center justify-content-between">
                    <a>
                      <i class="fa fa-edit text-info" (click)="editNotification(url,template)"></i>
                    </a>
                    <a>
                      <i class="fa fa-times text-danger" (click)="removeNotification(templateDelete, url)"></i>
                    </a>
                  </div>
                </div>
                <div class="row border p-2 border-gray border-top-0 overflow-auto">
                  {{url.url}}
                </div>
              </div>
            </div>
            <ng-template #template>
              <app-confirm-dialog (close)="createNotificationClosed($event)" title="Notification URL">
                <form [formGroup]="notificationForm">
                  <div class="form-group" *ngIf="notificationServerError">
                    <ng-container [ngSwitch]="notificationServerError">
                      <div class="alert alert-danger" *ngSwitchCase="'NOTIFICATION_URL_EXISTS'">Server error.
                        Notification URL exists
                      </div>
                    </ng-container>
                  </div>
                  <div class="form-group" [ngClass]="errorClasses('url_type', notificationForm)">
                    <label>Type</label>
                    <select class="custom-select form-control" formControlName="url_type">
                      <option disabled value="">Please Select...</option>
                      <option
                        [value]="item.type" *ngFor="let item of notificationTypesList"
                      >{{ item.type }}
                    </select>
                    <div
                      class="help-block form-text with-errors form-control-feedback"
                      *ngIf="controlHasErrors('url_type', notificationForm)"
                    >
                      {{controlValidateMessage('url_type', notificationForm)}}
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="errorClasses('url', notificationForm)">
                    <label>URL</label>
                    <input type="text" class="form-control" formControlName="url">
                    <div
                      class="help-block form-text with-errors form-control-feedback"
                      *ngIf="controlHasErrors('url', notificationForm)"
                    >
                      {{controlValidateMessage('url', notificationForm)}}
                    </div>
                    <div
                      class="help-block form-text with-errors form-control-feedback"
                      *ngIf="notificationForm.controls.url.hasError('pattern')"
                    >
                      URL has invalid format
                    </div>
                  </div>
                  <div class="form-group form-check">
                    <input
                      type="checkbox" id="url_enabled" class="form-check-input" formControlName="enabled"
                    >
                    <label class="form-check-label" for="url_enabled">Enabled</label>
                  </div>
                </form>
              </app-confirm-dialog>
            </ng-template>
            <ng-template #templateDelete>
              <app-confirm-dialog (close)="confirmDeleteNotification($event)">
                Are you sure you want to delete <i>{{notificationDialog?.notification?.url}}</i>?
              </app-confirm-dialog>
            </ng-template>
          </div>
        </app-accordion>
      </app-accordion-group>
    </div>
  </div>
</div>

<app-terminal-risk-filter-list [terminalId]="terminal.id" [filters]="terminalRiskFilters"></app-terminal-risk-filter-list>
